<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="4R_robot">




     <xacro:include filename="$(find proyecto_intermedio_robotica)/urdf/links_joints.xacro" />
     <xacro:include filename="$(find proyecto_intermedio_robotica)/urdf/robot_parameters.xacro" />
     <xacro:include filename="$(find proyecto_intermedio_robotica)/urdf/my_macros.xacro"/>
     
     <link name="world"/>  

     <joint name="fixed" type="fixed"> 
          <parent link="world"/>
          <child link="${link_00_name}"/>
     </joint>

     <xacro:m_link_mesh name="${link_00_name}"
     origin_xyz="0 0 0"
     origin_rpy="0 0 0" 
     meshfile="package://proyecto_intermedio_robotica/meshes/PincherBase.stl"
     mass="0.13157953"
     ixx="0.00025387" ixy="0" ixz="0"
     iyy="0.00029134" iyz="0"
     izz="0.00027663"	
     />    

     <xacro:m_joint name="joint_1" 
     type="revolute"
     axis_xyz="0 0 1"
     origin_rpy="0 0 -1.5708" origin_xyz="0 0 0.094375"
     parent="${link_00_name}" child="link_1"  
     limit_e="100" limit_l="-3.14" limit_u="3.14" limit_v="0.5" 
     />

     <xacro:m_link_mesh name="link_1"
     origin_xyz="0 0 0.0"
     origin_rpy="0 0 0" 
     meshfile="package://proyecto_intermedio_robotica/meshes/PincherLink1.stl"
     mass="0.04620776"
     ixx="0.00001430" ixy="0" ixz="0"
     iyy="0.00001213" iyz="0"
     izz="0.00000745"	
     />

     <xacro:m_joint name="joint_2" 
     type="revolute"
     axis_xyz="0 0 1"
     origin_rpy="1.5708 -1.5708 1.5708" origin_xyz="0 0 0.0415"
     parent="link_1" child="link_2"
     limit_e="100" limit_l="-3.14" limit_u="3.14" limit_v="0.5" 
     />


     <xacro:m_link_mesh name="link_2"
     origin_xyz="-0.011 0 0"
     origin_rpy="0 0 0" 
     meshfile="package://proyecto_intermedio_robotica/meshes/PincherLink2.stl"
     mass="0.06371406"
     ixx="0.00004875" ixy="0" ixz="0"
     iyy="0.00004380" iyz="0"
     izz="0.00001225"	
     />

     <xacro:m_joint name="joint_3" 
     type="revolute"
     axis_xyz="0 0 1"
     origin_rpy="0 0 0" origin_xyz="0.107 0 0"
     parent="link_2" child="link_3"
     limit_e="100" limit_l="-3.14" limit_u="3.14" limit_v="0.5" 
     />

     <xacro:m_link_mesh name="link_3"
     origin_xyz="-0.0115 0 0"
     origin_rpy="0 0 0" 
     meshfile="package://proyecto_intermedio_robotica/meshes/PincherLink3.stl"
     mass="0.06371399"
     ixx="0.00004875" ixy="0" ixz="0"
     iyy="0.00004380" iyz="0"
     izz="0.00001225"	
     />

     <xacro:m_joint name="joint_4" 
     type="revolute"
     axis_xyz="0 0 1"
     origin_rpy="0 0 0" origin_xyz="0.107 0 0"
     parent="link_3" child="link_4"
     limit_e="100" limit_l="-3.14" limit_u="3.14" limit_v="0.5" 
     />


     <xacro:m_link_mesh name="link_4"
     origin_xyz="-0.0115 0.0095 0"
     origin_rpy="3.1516 0 0" 
     meshfile="package://proyecto_intermedio_robotica/meshes/PincherTool.stl"
     mass="0.06284521"
     ixx="0.00002262" ixy="0" ixz="0"
     iyy="0.00002704" iyz="0"
     izz="0.00002116"	
     />

     <xacro:m_joint name="gripper_1" 
     type="prismatic"
     axis_xyz="0 0 1"
     origin_rpy="0 0 0" origin_xyz="0.088 0.0001 -0.04"
     parent="link_4" child="finger_1"
     limit_e="10000" limit_l="0" limit_u="0.02" limit_v="0.5" 
     />


     <xacro:m_link_mesh name="finger_1"
     origin_xyz="0 0 0"
     origin_rpy="0 0 0" 
     meshfile="package://proyecto_intermedio_robotica/meshes/PincheFinger.stl"
     mass="0.00689708"
     ixx="0.00000113" ixy="0" ixz="0"
     iyy="0.00000178" iyz="0"
     izz="0.00000116"	
     />

     <xacro:m_joint_mimic name="gripper_2" 
     type="prismatic"
     axis_xyz="0 0 1"
     origin_rpy="3.1416 0 0" origin_xyz="0.088 -0.0001 0.04"
     parent="link_4" child="finger_2"
     limit_e="10000" limit_l="0" limit_u="0.02" limit_v="0.5"
     mimic_joint="gripper_1" m_multiplier="1" m_offset="0" 
     />

     <xacro:m_link_mesh name="finger_2"
     origin_xyz="0 0 0"
     origin_rpy="0 0 0" 
     meshfile="package://proyecto_intermedio_robotica/meshes/PincheFinger.stl"
     mass="0.00689708"
     ixx="0.00000113" ixy="0" ixz="0"
     iyy="0.00000178" iyz="0"
     izz="0.00000178"	
     />     



     <!-- 
     <xacro:create_noa name="NOA"
     origin_xyz="0.305 0 0"
     origin_rpy="0 1.5708 0" 
     parent="link_2"
     />
     FIN ROBOT
     -->
     
     

     <gazebo>
       <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
       </plugin>
     </gazebo>

</robot>