<?xml version="1.0"?>
<robot name="tuerca_robot">
     
     <link name="tuerca">
      <inertial>
        <mass value="0.00325529" />
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
        <inertia ixx="0.00000007" ixy="0.0" ixz="0.0" iyy="0.00000007" iyz="0.0" izz="0.00000012" />
      </inertial>
      <collision>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://proyecto_intermedio_robotica/meshes/tuerca_colision.stl" scale="0.01 0.01 0.01"/>
        </geometry>        
      </collision>
      <visual>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://proyecto_intermedio_robotica/meshes/tuerca.stl" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="red">
          <color rgba="1.0 0.0 0.0 1.0"/>
        </material>
      </visual>
    </link>
    <gazebo reference="tuerca">
      <mu1>10.0</mu1>  
      <mu2>10.0</mu2>  
      <minDepth>0.003</minDepth>  
      <maxVel>0</maxVel>
        <material>Gazebo/<color rgba="0.0 1.0 0.0 0.0"/>
        </material>
    </gazebo>
 
     
</robot>