<?xml version="1.0" encoding="UTF-8"?>
<launch>

		<!-- Robot Model -->
          <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find proyecto_intermedio_robotica)/urdf/4r_robot_gazebo.xacro'" />
		<arg name="x" default="0.5"/>
		<arg name="y" default="0.5"/>
		<arg name="z" default="0"/>
          <arg name="yaw" default="-1.570796327"/>
		<arg name="rqt" default="false"/>
		
		<param name="tornillo_description" command="$(find xacro)/xacro --inorder '$(find proyecto_intermedio_robotica)/urdf/tornillo.xacro'" />
		<arg name="xt" default="0.499401"/>
		<arg name="yt" default="0.284172"/>
		<arg name="zt" default="0"/>

		<param name="tuerca_description" command="$(find xacro)/xacro --inorder '$(find proyecto_intermedio_robotica)/urdf/tuerca.xacro'" />
		<arg name="xtu" default="0.499401"/>
		<arg name="ytu" default="0.284172"/>
		<arg name="ztu" default="0.04"/>

          
		<!-- Load controllers -->
         <rosparam command="load" file="$(find proyecto_intermedio_robotica)/config/joints_effort.yaml" />
        
		<!-- Controllers -->
		<node name="controller_spawner" pkg="controller_manager" type="spawner"
		    respawn="false" output="screen" 
		    args="
		    joint_state_controller
		    joint1_position_controller
		    joint2_position_controller
		    joint3_position_controller
		    joint4_position_controller
		    gripper_position_controller
		    --timeout 60">
		</node>
		

		<!-- Gazebo Initialization -->
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="use_sim_time" value="true"/>
		</include> 

		<!-- Spawn Robot Model -->
		<node name="mybot_spawn" 
			  pkg="gazebo_ros" 
			  type="spawn_model" 
			  output="screen"
		       args="-urdf -param robot_description 
			  -model 4R_robot -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)"/>

		<node name="tornillo_spawn" 
			  pkg="gazebo_ros" 
			  type="spawn_model" 
			  output="screen"
		       args="-urdf -param tornillo_description 
			  -model tornillo -x $(arg xt) -y $(arg yt) -z $(arg zt)"/>

		<node name="tuerca_spawn" 
			  pkg="gazebo_ros" 
			  type="spawn_model" 
			  output="screen"
		       args="-urdf -param tuerca_description 
			  -model tuerca -x $(arg xtu) -y $(arg ytu) -z $(arg ztu)"/>
          

		<!-- rqt -->
		<node if="$(arg rqt)" name="rqt_gui" pkg="rqt_gui" type="rqt_gui" />
		
		<!-- Robot State -->
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>