<launch>
  <param name="/use_sim_time" value="true" />
  <arg name="tornillo_tuerca" default="false"/>

  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" 
   args="$(find gazebo_ros)/launch/empty_world.launch" respawn="false" output="screen" />
   

  <!-- include our robots -->
  <include file="$(find proyecto_intermedio_robotica)/launch/robots.launch"/>

  <group if="$(arg tornillo_tuerca)">
    <param name="tornillo_description" command="$(find xacro)/xacro --inorder '$(find proyecto_intermedio_robotica)/urdf/tornillo.xacro'" />
    <arg name="xt" default="-0.200"/>
    <arg name="yt" default="0.206"/>
    <arg name="zt" default="0.0"/>

    <param name="tuerca_description" command="$(find xacro)/xacro --inorder '$(find proyecto_intermedio_robotica)/urdf/tuerca.xacro'" />
    <arg name="xtu" default="0.200"/>
    <arg name="ytu" default="0.206"/>
    <arg name="ztu" default="0.050"/>

    <param name="cubo1_description" command="$(find xacro)/xacro --inorder '$(find proyecto_intermedio_robotica)/urdf/cubo1.xacro'" />
    <arg name="xt1" default="0.200"/>
    <arg name="yt1" default="0.206"/>
    <arg name="zt1" default="0.0"/>

    <param name="cubo2_description" command="$(find xacro)/xacro --inorder '$(find proyecto_intermedio_robotica)/urdf/cubo2.xacro'" />
    <arg name="xt2" default="-0.200"/>
    <arg name="yt2" default="-0.206"/>
    <arg name="zt2" default="0.0"/>

    <node name="tornillo_spawn" 
          pkg="gazebo_ros" 
          type="spawn_model" 
          output="screen"
            args="-urdf -param tornillo_description 
          -model tornillo -x $(arg xt) -y $(arg yt) -z $(arg zt)"/>

    <node name="tuerca_spawn" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        output="screen"
          args="-urdf -param tuerca_description 
        -model tuerca -x $(arg xtu) -y $(arg ytu) -z $(arg ztu)"/>    

    <node name="cubo1_spawn" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        output="screen"
          args="-urdf -param cubo1_description 
        -model cubo1 -x $(arg xt1) -y $(arg yt1) -z $(arg zt1)"/>    

    <node name="cubo2_spawn" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        output="screen"
          args="-urdf -param cubo2_description 
        -model cubo2 -x $(arg xt2) -y $(arg yt2) -z $(arg zt2)"/>     

    <!-- rqt -->
    <!--
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" />
    -->

    <!-- RVIZ -->   
    <!--
    <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find proyecto_intermedio_robotica)/config_camara/config.rviz"/> 
    -->
    
    <param name="camara_description" command="$(find xacro)/xacro --inorder '$(find proyecto_intermedio_robotica)/urdf/camara.xacro'" />
    <arg name="xc" default="0.0"/>
    <arg name="yc" default="0.0"/>
    <arg name="zc" default="1.5"/>

    <node name="camara_spawn" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        output="screen"
          args="-urdf -param camara_description 
        -model camara -x $(arg xc) -y $(arg yc) -z $(arg zc)"/>
  </group>

  

</launch>